@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
    font-family: "Lato", sans-serif;
    line-height: 1.6;
    letter-spacing: 0.5px;
}

/* Custom scrollbar */
.scrollbar-thin::-webkit-scrollbar {
    width: 1rem;
  }
  
  .scrollbar-thin::-webkit-scrollbar-track {
    background: #d1fae5; /* Light green */
    border-radius: 10px;
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: #34d399; /* Green */
    border-radius: 10px;
    border: 2px solid #d1fae5;
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background: #059669; /* Darker green on hover */
  }
  